<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/CSS/league_duration.css">
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <div class="wrap">

        <!-- 헤더 -->
        <!-- 어디에서나 볼 수 있어야 하는 것 -->
        <div class="header">
            <!-- 로고 -->
            <div class="logo">
                <a href="/HTML/main.html"><span class="material-icons">palette</span></a>
                <a class="logo_word" href="/HTML/main.html">League</a>
            </div>
            <!-- 메인 메뉴 -->
            <div class="main_menu">
                <div class="league_duration"><a href="/HTML/league_duration.html">격전 기간</a></div>
                <div class="league_reword"><a href="/HTML/league_reword.html">격전 보상</a></div>
                <div class="record"><a href="/HTML/record.html">전적 검색</a></div>
                <div class="search_team"><a href="/HTML/search_team.html">팀 찾기</a></div>
            </div>
        </div>

        <!-- 메인 -->
        <!-- section>article, aside>article -->
        <div class="main">
            </section>
            <!-- 격전 일정 -->
            <section class="leage_schedule">
                <table>
                    <caption>리그 오브 레전드: 2022년 격전 일정</caption>
                    <thead>
                        <tr>
                            <th>컵 종류</th>
                            <th>주차</th>
                            <th>참가 확정 시작일</th>
                            <th>토너먼트 기간</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td rowspan="2">아이오니아 컵</td>
                            <td>1주차</td>
                            <td>2/14</td>
                            <td>2/19 ~ 2/20</td>
                        </tr>
                        <tr>
                            <!-- <td></td> -->
                            <td>2주차</td>
                            <td>2/28</td>
                            <td>3/5 ~ 3/6</td>
                        </tr>
                        <tr>
                            <td rowspan="2">프렐요드 컵</td>
                            <td>1주차</td>
                            <td>3/14</td>
                            <td>3/19 ~ 3/20</td>
                        </tr>
                        <tr>
                            <!-- <td></td> -->
                            <td>2주차</td>
                            <td>3/28</td>
                            <td>4/2 ~ 4/3</td>
                        </tr>
                        <tr>
                            <td  rowspan="2">필트오버 컵</td>
                            <td>1주차</td>
                            <td>4/11</td>
                            <td>4/16 ~ 4/17</td>
                        </tr>
                        <tr>
                            <!-- <td></td> -->
                            <td>2주차</td>
                            <td>4/25 ~ 4/29</td>
                            <td>4/30 ~ 5/1</td>
                        </tr>
                        <tr>
                            <td  rowspan="2">차후 공지 예정</td>
                            <td>1주차</td>
                            <td>5/9</td>
                            <td>5/14 ~ 5/15</td>
                        </tr>
                        <tr>
                            <!-- <td></td> -->
                            <td>2주차</td>
                            <td>5/16</td>
                            <td>5/21 ~ 5/22</td>
                        </tr>
                        <tr>
                            <td rowspan="2">데마시아 컵</td>
                            <td>1주차</td>
                            <td>6/6</td>
                            <td>6/25 ~ 6/26</td>
                        </tr>
                        <tr>
                            <!-- <td></td> -->
                            <td>2주차</td>
                            <td>6/20</td>
                            <td>6/25 ~ 6/26</td>
                        </tr>
                        <tr>
                            <td rowspan="2">그림자 군도 컵</td>
                            <td>1주차</td>
                            <td>7/4</td>
                            <td>7/9 ~ 7/10</td>
                        </tr>
                        <tr>
                            <!-- <td></td> -->
                            <td>2주차</td>
                            <td>7/18</td>
                            <td>7/23 ~ 7/24</td>
                        </tr>
                        <tr>
                            <td rowspan="2">자운 컵</td>
                            <td>1주차</td>
                            <td>8/1</td>
                            <td>8/6 ~ 8/7</td>
                        </tr>
                        <tr>
                            <!-- <td></td> -->
                            <td>2주차</td>
                            <td>8/15</td>
                            <td>8/20 ~ 8/21</td>
                        </tr>
                        <tr>
                            <td rowspan="2">녹서스 컵</td>
                            <td>1주차</td>
                            <td>8/29</td>
                            <td>9/3 ~ 9/4</td>
                        </tr>
                        <tr>
                            <!-- <td></td> -->
                            <td>2주차</td>
                            <td>9/12</td>
                            <td>9/17 ~ 9/18</td>
                        </tr>
                        <tr>
                            <td rowspan="2">차후 공지 예정</td>
                            <td>1주차</td>
                            <td>9/26/td>
                            <td>10/1 ~ 10/2</td>
                        </tr>
                            <!-- <td></td> -->
                            <td>2주차</td>
                            <td>10/10</td>
                            <td>10/15 ~ 10/16</td>
                        </tr>
                        <tr>
                            <td rowspan="2">유쾌한 격전</td>
                            <td>1주차</td>
                            <td>12/5</td>
                            <td>12/10 ~ 12/11</td>
                        </tr>
                        <tr>
                            <!-- <td></td> -->
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                    </tbody>
                </table>
            </section>
        </div>

        <!-- 푸터 -->
        <div class="footer">
            <!-- 저작권 -->
            <div class="copyright">
                <p>Copyright &copy; All rights reserved AoiSkyI.</p>
            </div>
            <!-- 연락처 -->
            <div class="connect">
                <p>Github | aoiskyi</p>
                <p>Email | sunghl0508@naver.com</p>
            </div>
        </div>

    </div>
</body>
</html>