<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css.css">
</head>
<body>
<!--<h2>2023년 코스피 상장률<span>11%</span><span>22%</span></h2>-->
<details>
    <summary>Click Me!</summary>
<div class="grid-container">
    <div class="border-outer">
        <div class="border-example"><p class="text-example">심장병1</p></div>
    </div>
    <div class="border-outer">
        <div class="border-example">심장병1</div>
    </div>
    <div class="border-outer">
        <div class="border-example">심장병1</div>
    </div>
    <div class="border-outer">
        <div class="border-example">심장병1</div>
    </div>
    <div class="border-outer">
        <div class="border-example">심장병1</div>
    </div>
    <div class="border-outer">
        <div class="border-example">심장병1</div>
    </div>
</div>
</details>

<img src="YONSAI_1920x1080.jpg"/>

</body>
</html>