<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>

<!--window.onload = function(){-->
<!--    var x = document.getElementById( 'home' );-->
<!--    x.style.color = "blue";-->
<!--    console.log("test");-->
<!--}-->
                console.log("POST request");
                $.ajax({
                    type: "POST",
                    url: "/ajaxtest",
                    data: {name: "John", location: "Boston"},
                    success: function(response) {
                        console.log("POST request was successful!");
                        console.log(response);
                        location.replace('/');
                    },
                    error: function(error) {
                        console.log("POST request was unsuccessful!");
                        console.log(error);
                    }
                });
</script>
</head>
<body>
<p id = "home">hello</p>
</body>
</html>